{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block titulo %}    
    <title>Paperwalls > Imagenes > Subir </title>
{% endblock titulo %}

{% block welcome %}
{% endblock %}

{% block content %}
    <div class="forms-alta"> 
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4><strong>Nueva Imagen</strong></h4>
            </div>  
            <div class="panel-body">
                <div class="form-group" id="div-form-group-imagen">
                    {% crispy imagen %}
                </div>
                <div class="preview-imagen control-label" id="img-prev">
                    <label class="col-lg-2">Preview </label>
                    <img class="controls col-lg-8 img-thumbnail" id="imagen-preview-id" src= "{% static  'img/no-image.jpg' %}" >
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}
    {{block.super}}
    

    <script type="text/javascript">
    // Script para preview de imagenes

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                $('#imagen-preview-id').attr('src', e.target.result);
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }
    
    $("#id_imagen").change(function(){
        readURL(this);
    });

    // Fin - Script para preview de imagenes

    // Script para crear los tags como badges cuando se da de alta una img

    $('#id_etiquetas').tokenfield('allowDuplicates=False');

    $('#hint_id_etiquetas').remove();

    </script>
    


{% endblock %}
