{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block titulo %}    
    <title>Paperwalls > Categorias > Crear </title>
{% endblock titulo %}

{% block welcome %}
{% endblock %}

{% block content %}
    <div class="forms-alta"> 
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4><strong>Nueva Categoría</strong></h4>
            </div>  
            <div class="panel-body">
                {% crispy categoria %}
            </div>
        </div>
    </div> 
{% endblock %}