{% extends "base.html" %}

    
{% block welcome %}
    <script>
        var user_logged_in = false;
    </script>
    {% if not user.is_authenticated %}
        {{block.super}}
    {% else %} 
        <script>
            user_logged_in = true;
        </script>
    {% endif %}

{% endblock welcome %}


{% block content %}
    <div class="main">
        <!-- Albums  -->
        <ul id="album-list">
            <h3>Las imágenes más recientes</h3>
            {% for album in albums.object_list %}
                {% if album.imagen_set.count > 0 %}
                    {% for img in album.imagen_set.all %}
                        {% if img.publica == True %}
                            <a href="{% url "view_image" img.id %}"><img id="img-style" class="img-thumbnail" border="0" alt=""
                                src="{{img.imagen.url_128x128 }}" /></a>
                        {% endif %}        
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>

{% endblock %}

{% block scripts %}
    {{block.super}}
    <script>
        if( user_logged_in ) {
            $("#album-list").attr('style','margin-top:80px;');
        }
    </script>
{% endblock%}
