{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block welcome %}
{% endblock %}

{% block content %}
	<div class="forms-alta"> 
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4><strong>Modificar Álbum</strong></h4>
            </div>  
            <div class="panel-body">
                {% crispy buscar %}
                {% crispy album %}
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            $(':input[name=album_0]').bind('djselectableselect', function(event, ui) {
                $(this).parents("form").submit();
            });
        });
    </script>
{% endblock scripts %}